{:paths ["src" "resources"]
 :deps
 {org.clojure/tools.logging {:mvn/version "1.2.4"}
  funcool/promesa           {:mvn/version "9.0.494"}
  io.vertx/vertx-core       {:mvn/version "4.3.4"}}
 :aliases
 {:build {:deps       {io.github.seancorfield/build-clj
                       {:git/tag "v0.8.2" :git/sha "0ffdb4c"}}
          :ns-default build}
  :test  {:extra-paths ["test"]}}}
